<%= render('layouts/errors', :object => @sighting) %>

<%= form_for [@animal, @sighting] do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :lat_lng, 'Enter the latitude, longitude:' %>
  <%= f.text_field :lat_lng %>
  <p><%= f.submit %></p>
<% end %>
