<div class="panel" style="text-align:center;margin:10px;border:1px solid black;width:800px;margin:0 auto;">
  <div class="panel-header">
    <h2><%= @animal.kind %></h2>
  </div>
  <div class="panel-body">
    <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif" style="width: 600px; height: 400px; margin: 0, auto;" alt=""></a>
  </div>

  <% if @animal.sightings.any? %>
  <h4>Here are the sightings for this animal:</h4>

    <% @sightings.each do |sighting| %>
        <h3>Last Date Seen: <%= sighting.date %></h3>
        <p>Last Location Seen: <%= sighting.lat_lng.x %>,<%= sighting.lat_lng.y %></p>
        <%= link_to "Edit", edit_animal_sighting_path(@animal, sighting) %>
        <%= link_to "NEW", new_animal_sighting_path(@animal) %>
        <%= link_to "Delete", animal_sighting_path(@animal, sighting), :data => {:confirm => "Are you sure?", :method => "delete"} %>
    <% end %>
  <% else %>
    <p>There are no sightings yet!</p>
  <% end %>
  <hr>

  <p><%= link_to "HOME", animals_path %></p>
  <p><%= link_to "ADD SIGHTING", new_animal_sighting_path(@animal) %></p>
  <p><%= link_to "EDIT", edit_animal_path %></p>
  <p><%= link_to "DELETE", animal_path, :data => {
      :confirm => "You sure?", :method => "delete"
    } %></p>
</div>
